/* CSS about */

body {
    display: flex;
    font-family: 'Segoe UI', system-ui;
    flex-direction: column; /* Assure que le corps de la page est disposé en colonne */
    margin: 0;
    padding: 0;
}
body span{
	color: #00ebf7;
}

/* Information */

.home {
    background: url("Image/fondstyle.jpg");
    background-position: center;
    background-size: cover;
	background-attachment:fixed;
    min-height: 100vh;
    flex-direction: column;
}

.titre {
	padding: 2rem;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 2rem;
}


.section-titre{
	flex: 1;
	padding-top: 5rem;
	flex-direction: column; /* Aligne en colonne */
    align-items: center; /* Centre horizontalement */
    text-align: center; /* Centre le texte */	
}

.slogan {
    font-size: 3.7rem;
	color: #f5f7fa;
    line-height: 1.2; /*Espace entre les lignes */
}

.btn-plongez {
    color: white;
    font-size: 20px;
    border: 2px solid #00ebf7;
	border-radius: 20px;
    padding: 0px 20px;
    transition: 0.5s;
    font-weight: bolder;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.6);
}

.btn-plongez:hover {
    background-color:#00ebf7;
    color: white;
 
}

/* Introduction */
.hero {
    color: white;
    background-color: #001f3f;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	font-size:1.1rem;
}

.hero span {
	color: bold #4052d6;
}

h2{
	margin-top:3.5rem;
	font-size:3.5rem;
	line-height:0.8rem;
	text-align: center;
}

.hero h4{
	color:bold;
	padding: 0 4rem 1rem;
	text-align:center;
}

.destinations {
    padding: 20px;
    background-color: #f2f2f2; /* Fond clair pour la section destinations */
	flex:1;
}

.box {
    display: flex; /* Utilise flexbox pour disposer l'image et le texte en ligne */
    align-items: center; /* Aligne verticalement l'image et le texte */
    background-color: #001f3f; /* Fond sombre pour la boîte */
    padding: 20px;
    border-radius: 10px; /* Arrondir les bords de la boîte */
}

.box img {
    width: 100%; /* Ajuste la largeur de l'image pour qu'elle soit contenue dans la boîte */
    max-width: 40%; /* Empêche l'image de dépasser 40% de la largeur de la boîte */
    height: auto; /* Garde la proportion de l'image */
    border-radius: 5px;
}

.box h2{
	text-align:center;
	margin-bottom:1rem;
	color:white;
}
.box p {
    color: white; /* Texte en blanc pour contraster avec le fond sombre */
    font-size: 16px; /* Taille du texte */
    line-height: 1.5; /* Espace entre les lignes pour plus de lisibilité */
    margin: 0;
    display: flex;
    align-items: center; /* Centre le texte verticalement par rapport à l'image */
}

