:root {
    --color-quote: white;
    --color-blue-accent: #00ebf7;
    --color-text-white: white;
    --color-dark-bg: #001f3f;
    --color-highlight: #4052d6;
    --color-title: #f5f7fa;
}

.lightmode {
    --color-blue-accent: #00ebf7;
    --color-text-white: rgb(0, 0, 0);
    --color-dark-bg: #c6e3ff;
    --color-highlight: #4052d6;
}

body {
    display: flex;
    font-family: 'Segoe UI', system-ui;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.slogan {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3.7rem;
    color: var(--color-title);
    line-height: 1.2;
    margin-bottom: 0;
}

.auteur {
    color: var(--color-quote);
    margin-top: 10px;
    font-size: 20px;
}
h1 span {
    color: var(--color-blue-accent);
    font-weight: bolder;
}

.home {
    background: url("https://www.actu-environnement.com/images/illustrations/news/39938_large.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
}

.titre {
    padding: 2rem;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.section-titre {
    flex: 1;
    padding-top: 10rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 8rem;
}


.aboutus {
    color: var(--color-text-white);
    background-color: var(--color-dark-bg);
    border-radius: 6rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
    margin: 2rem 12rem;
}

.aboutus span {
    color: var(--color-highlight);
}

h2 {
    margin-top: 2rem;
    font-size: 3.5rem;
    text-align: center;
}

.aboutus p {
    font-size: 19px;
    line-height: 1.6;
    color: var(--color-text-white);
    margin-bottom: 1.5rem;
    padding-left: 10rem;
    padding-right: 15rem;
}
