
.ButtonBan{
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  margin-right: 10px;
}


.overlayAdmin{
  background-color: rgba(255,255,255,0.3  ); /* Définit un fond blanc semi-transparent */
  padding: 30px; /* Ajoute un espace intérieur de 30px */
  border-radius: 10px; /* Arrondit les coins de la boîte */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Ajoute une ombre autour de la boîte */
  width: 90%; /* Définit la largeur à 90% de l'écran */
  max-width: 600px; /* Définit une largeur maximale de 600px */
  margin-top: 50px;
}


.ButtonBan:hover {
  opacity: .9;
}

.ButtonVip{
  background: #f0a519;
  border: 1px solid #f0a519;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  margin-right: 10px;
}


.ButtonVip:hover {
  opacity: .9;
}

.Liste {
  padding-left:50px
}

