body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 1px;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 160;
  padding-top: 80px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #033252;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.btn {
  padding: 8px 12px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-vip {
  background-color: #dd8d0d;
}

.btn-ban {
  background-color: #dc3545;
}

.btn:hover {
  opacity: 0.9;
}
.connexion{
  padding-bottom: 15px;
}
