/* destinations CSS */

body {
    font-family: 'Segoe UI', system-ui;
    margin: 0;
    padding: 0;
	color: white;
}

body span{
	color: #00ebf7;
}

/* Information */

.home {
    background: url("https://images3.alphacoders.com/132/1325254.png");
    background-position: center;
    background-size: cover;
	background-attachment:fixed;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
	
}

.section-titre{
	padding: 0 4rem;
	flex-direction: column; /* Aligne en colonne */
    align-items: center; /* Centre horizontalement */
    text-align: center; /* Centre le texte */	
	background-color: rgba(0, 0, 0, 0.6);
	border-radius:1rem;
	position:relative;
	
		
}

.slogan {
    font-size: 3.7rem;
	color: white;
    line-height: 1.2; /*Espace entre les lignes */
	position:relative;
}


h2{
	margin-top:3.5rem;
	font-size:3.5rem;
	text-align: center;
	margin-bottom:5rem;
}

/*Les Destinations */

.destinations {
	background-color: #001f3f;
	color:white;
	padding: 1rem 2rem;	
}

.box-content{
	padding-bottom: 3rem;
	width:100%;
}

.box{
	background-color: #1C4E6B;
	border-radius: 1rem;
   	margin:2rem 0;
	text-align:left;
	width:100%;
	display:flex;

	
}

.box img{
	width: 40%;
	height:auto;
	border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
	object-fit: cover;
	border-right-color:2px solid white;
}

.content h2{
	text-align:left;
	margin-bottom:2.6rem;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content p{
	font-size:1.1rem;
	font-weight:430;
}

.content{
	padding:0 1rem;	
	margin-bottom:3rem;
}

.stars {
    color: yellow;
    font-size: 20px;
}




