/* Barre du site web */
.navibar {
    padding: 0px 30px;
   	background-color: #033252; 
    color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.nav-titre p span {
    color: #4052d6;
}
.nav-titre {
	margin-left:2rem;
    font-size: 25px;
    font-weight: bold;
    color: white;
	display: flex;
}

.menu {
    display: flex;
    align-items: center;
}

.navi-liens {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
	
}

.navi-lien {
    color: white;
    text-decoration: none;
    font-weight: 500;
	margin-right:1rem;
}

.navi-lien:hover {
    color: #1591ea;
    text-shadow: 0px 0px 10px rgba(0, 255, 255, 0.8);
}

.navibar img{
	margin-left:1.3rem;
	width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

/* Footer */
footer { 
    background-color: #033252; 
    text-align: center;
    padding: 1.5rem;
    font-size: 14px;
	color:white;    
}
