/* Barre du site web */

html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    flex-direction: column; 
}

.navibar {
    z-index:1000;
    top:0;
    position:fixed;
    width:100%;
    background-color: #033252; 
    color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-family: 'Segoe UI', system-ui;	
}

.navibar .logo img {
    width: 60px; 
    height: auto; 
	margin-left:1.2rem;
    
}

.logo-container {
    display: flex;
    align-items: center;
    	
}

.nav-titre span {
    color: #00ebf7;
}

.nav-titre {
    font-size: 25px;
    font-weight: bold;
    color: white;
	display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.navi-liens {
    display: flex;
    list-style: none;
    gap: 0.8rem;
    align-items: center;	
}

.navi-lien {
    color: white;
    text-decoration: none;
	margin-right:1rem;
    padding: 0.7rem;
	
    font-weight: bold;
}

.navi-lien:hover {
    background-color: #00ebf7;
    color: white;
    font-weight: bold;
	transition: 0.8s;
	border-radius: 1rem;
}

.menu img{
	margin-right:1rem;
	width: 40px;
    height: 40px;
}

.menu img:hover{
	background-color: #00ebf7;
    color: white;
    font-weight: bold;
	transition: 0.8s;
	border-radius: 1rem;
}
/* Footer */
footer{ 
    background-color: #033252; 
    margin-top:auto;
    padding: 1.5rem;
    font-size: 1.1rem;
	color:white;    
	font-family: 'Segoe UI', system-ui;	
	text-align:center;
	width:100%;
	box-sizing: border-box;
}

.footer-main{
	display:flex;
	align-items:flext-start;
	justify-content: center;
    flex-wrap: wrap;
	padding:1rem 3rem;
	text-align:center;
	gap:3rem;
}

.footer-main img{
	width:25%;
	height:100%;
	padding-right:3rem;
}

.footer-container{
	padding: 0 2rem;
	text-align:center;
	color:white;
	line-height:10px;
	font-size:1rem;
}

.footer-container h3{
	padding-bottom:14px;
}

.footer-container a{
	text-decoration:none;
	color:white;
}

.footer-container a:hover{
	text-decoration:underline;
}
