/* Barre du site web */

html, body {
    height: 100%; /* Assure que la page occupe toute la hauteur de l'écran */
    margin: 0; /* Enlève les marges par défaut */
    padding: 0; /* Enlève le padding par défaut */
    flex-direction: column; /* Organise les éléments en colonne */
}

.navibar {
    z-index:1000;
    top:0;
    position:fixed;
    width:100%;
    background-color: #033252; 
    color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-family: 'Segoe UI', system-ui;	
}

.navibar .logo img {
    width: 60px; /* Adjust size if needed */
    height: auto; 
	margin-left:1.2rem;
    
}

.logo-container {
    display: flex;
    align-items: center;
    	
}

.nav-titre span {
    color: #00ebf7;
}

.nav-titre {
    font-size: 25px;
    font-weight: bold;
    color: white;
	display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.navi-liens {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
	
}

.navi-lien {
    color: white;
    text-decoration: none;
    font-weight: 500;
	margin-right:1rem;
    padding: 0.7rem;
	border-radius: 1rem;
    font-weight: bold;
}

.navi-lien:hover {
    background-color: #00ebf7;
    color: white;
    font-weight: bold;
	transition: 0.8s;
}

.menu img{
	margin-right:1rem;
	width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

/* Footer */
footer { 
    background-color: #033252; 
    margin-top:auto;
    text-align: center;
    padding: 1.5rem;
    font-size: 14px;
	color:white;    
	font-family: 'Segoe UI', system-ui;	
}
