body {
    font-family: 'Segoe UI',system-ui;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-image: url('https://images3.alphacoders.com/132/1325254.png');
    background-attachment: fixed;
    background-repeat: no-repeat; 
}

.profil{
    flex:1;
    display:flex;
    width:100%;
    min-height:100vh;
    justify-content:center;
    align-items:center;
}

h1 {
    text-align: center;
    color: #2c3e50; 
    margin-bottom: 20px; 
}

.box-container {
    align-items: center;
    margin-left:25rem;
    justify-content:center;
    background-color:rgba(255,255,255,0.6);
    padding:15px;
    border-radius:10px;
    box-shadow:0 0 20px rgba(0,0,0,0.2);
    width:90%;
    max-width:400px;
    margin: 7rem 0;
} 

.profile-container h1 {
    text-align:center;
    color:#2c3e50;
    margin-bottom:20px;
}

.profile-field {
    background-color: rgba(255,255,255,0.3);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    margin-bottom: 0.5rem;
}

.profile-field label {
    display:block;
    margin-bottom:10px;
    color:#2c3e50;
    font-weight:bold;
}

.profile-field span {
    width: 100%;
    padding: 8px;
    border: 1px solid #bdc3c7;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
    color: black;
}

.edit-btn {
    background-color: #00C1D4;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    float: right;
}

.edit-btn:hover {
    transform:translateY(-5px)
}

.footer-text {
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.footer-text a{
    color:#00ebf7;
}

.logout-btn {
    justify-content: center;
    display: flex;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 0rem 6rem;
    margin-top: 1rem;
}

.logout-btn:hover {
    background-color: #c0392b;
}
