span{
	color:#00ebf7;
}
body{
	margin:0;
	font-family:'Segoe UI',system-ui;
	background:#001f3f;
	color:#F0F7FA;
}
.titre{
	height:75vh;
	background:url("https://main-api.quotatrip.com/storage/articles/170/neom-xDQKvPjxtxo-unsplash.jpg");
	background-size:cover;
	background-position:center;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	padding:4rem;
}

.titre h1{
	font-size:3.5rem;
	text-shadow:0 2px 10px rgba(0,0,0,0.3);
	margin-bottom:1rem;
	z-index:1;
}
.recherche-tout{
	z-index:1;
}

.bulle{
	background:rgba(255,255,255,0.1);
	padding:1.8rem;
	border-radius:100px;
	border:1px solid #00C1D4;
	transition:transform 0.3s ease;

}
.bulle:hover{
	transform:translateX(-5px);
}
.bulle label{
	display:block;
	margin-bottom:0.5rem;
	font-size:1.2rem;
	color:white;
}
.bulle select,input{
	width:90%;
	padding:0.8rem;
	background:rgba(255,255,255,0.9);
	border:none;
	border-radius:5px;
	font-size:1rem;
}
.boutton-recherche{
	background:#00C1D4;
	color:#001f3f;
	padding:1rem 2rem;
	border:none;
	border-radius:50px;
	font-size:1.2rem;
	cursor:pointer;
	display:flex;
	margin:0 auto;
	transition:all 0.3s ease;
}
.boutton-recherche:hover{
	transform:scale(1.05);
}
.ensemble-carré-info{
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
	gap:2rem;
	padding:3rem 5rem;
}
.un-carré-info{
	background:#1C4E6B;
	border-radius:15px;
	overflow:hidden;
	transition:transform 0.3s ease;
}
.un-carré-info:hover{
	transform:translateY(-10px);
	}
.meilleure-plans{
	text-align:center;
	font-size:4rem;
	}
.un-carré-info img{
	width:100%;
	height:200px;
	border-bottom:3px solid #00C1D4;
}
.info-texte{
	padding:1.5rem;
}
