body {
    font-family: 'Segoe UI', system-ui;
    margin: 0;
    padding: 0;
	color: white;
}

body span{
	color: #00ebf7;
}

/* Information */

.home {
    background: url("Image/fondstyle.jpg");
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.section-titre{
	flex: 1;
	padding-top: 10rem;
	flex-direction: column; /* Aligne en colonne */
    align-items: center; /* Centre horizontalement */
    text-align: center; /* Centre le texte */	
}

.slogan {
    font-size: 3.7rem;
	color: white;
    line-height: 1.2; /*Espace entre les lignes */
}

.btn-plongez {
    color: white;
    font-size: 20px;
    border: 2px solid #00ebf7;
    padding: 15px 20px;
    transition: 0.5s;
    border-radius:2rem;
    font-weight: bolder;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.6);
}

.btn-plongez:hover {
    background-color:#00ebf7;
    color: white;
}

/* Introduction */
.hero {
    color: white;
    background-color: #001f3f;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	font-size:1.1rem;
}

.hero span {
	color: bold #4052d6;
}

h2{
	margin-top:3.5rem;
	font-size:3.5rem;
	line-height:0.8rem;
	text-align: center;
}

.hero h4{
	color:bold;
	padding: 0 4rem 1rem;
	text-align:center;
    font-size: 1.5rem;
}

/*Les Destinations */

.destinations {
	background-color: #001f3f;
	color:white;
	padding: 1rem 2rem;
		
}

.box-content{
	display:flex;
	padding:0 0 3rem 0;
	width:100%;
}

.box{
	background-color: #1C4E6B;
	padding-bottom:1.2rem;
	border-radius: 1rem;
   	margin-top:5rem;	
	margin-right:1rem;
	text-align:center;
	width:100%;
}

/*Animation*/
@keyframes zoom {
    from {
        transform: scale(1);
        opacity: 0.5;
    }
    to {
        transform: scale(1.02);
        opacity: 1;
    }
}

.box:hover {
    animation:  zoom 1s forwards; 
	box-shadow: 0 0 10px #00ebf7;
}

/*----*/

.box img{
	width: 100%;
	border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
	height:20rem;
}

.content{
	margin-bottom: 1rem;	
	padding: 0 2rem;
}

button{
    padding: 0.6rem 22px;
    border: 2px solid #00ebf7;
	border-radius:1rem;
    color: #00ebf7;
	background-color: rgba(0, 0, 0, 0.6);
	text-decoration:none;
	margin-top:0.1rem;
	transition: 0.5s;
}

button:hover{
	background-color:#00ebf7;
    color: white;

}
	

button a{
    font-weight: bold;
	color:white;
	text-decoration:none;
}
.stars {
    color: yellow;
    font-size: 20px;
}
